<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<script src="/js/Spi.js"></script>
<link rel="stylesheet" type="text/css" href="/css/Cascading.css" />
</head>
<body>
<div class="slider">
<ul class="bxslider">
  <li><img src="/css/images/hyderabadi-biryani-spicy-food.jpg" /></li>
  <li><img src="/css/images/Prawn-Fry.jpg" /></li>
  <li><img src="/css/images/shutterstock_70079539.jpg" /></li>
  <li><img src="/css/images/dollarphotoclub_35517048.jpg"/></li>
</ul>
</div>
<!--aboutUs  -->
<div class="slider1">
<ul class="bxslider1">
  <li><img src="/css/images/13281637-Chef-cartoon-Stock-Vector-cooking.jpg" /></li>
  <li><img src="/css/images/LcdoedRgi.jpg" /></li>
</ul>
</div>
<div class="aboutUs">
<p>Aboutus</p>
</div> 
</body>
</html>