<script src="/js/Spi.js"></script>
<div class="slider">
	<ul class="bxslider">
		<li><img src="/css/images/hyderabadi-biryani-spicy-food.jpg" /></li>
		<li><img src="/css/images/Prawn-Fry.jpg" /></li>
		<li><img src="/css/images/shutterstock_70079539.jpg" /></li>
		<li><img src="/css/images/dollarphotoclub_35517048.jpg" /></li>
	</ul>
</div>
<!--aboutUs  -->
<div class="slider1">
	<ul class="bxslider1">
		<li><img
			src="/css/images/13281637-Chef-cartoon-Stock-Vector-cooking.jpg" /></li>
		<li><img src="/css/images/LcdoedRgi.jpg" /></li>
	</ul>
</div>
<div class="aboutUs">
	<p>Aboutus</p>
</div>
