<html>
	<head>
		<title>SPI Hotels</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/Cascading.css" />
		<link href="/css/jquery.bxslider.css" rel="stylesheet" />
	</head>
	<body ng-app="myApp">
		<!-- Menu -->
		<nav class="navbar navbar-default" id="customNav">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" id="navHeader">SPI Hotels</a>
				</div>
				<div>
					<ul class="nav navbar-nav" id="ListofHeadings">
						<li id="Logo"><img src="/css/images/Logo.jpg"></li>
						<li><a ui-sref="home">Home</a></li>
						<li><a ui-sref="order">OrderOnline</a></li>
						<li><a ui-sref="outlets">Outlets</a></li>
						<li><a ui-sref="contactUs">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div ui-view></div>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/js/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
		
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script src="/js/map.js"></script>
		<script src="/js/jquery.bxslider.min.js"></script>
		
		<script src="/js/app-main.js"></script>
		<script src="/js/userRef.js"></script>
		<script src="/js/order-controller.js"></script>
		<script src="/js/Myfunction.js"></script>
	</body>
</html>